1. Create a new list named double_nums by multiplying each number in nums by two.

In [25]:
nums = [4, 8, 15, 16, 23, 42]

double_nums = [i*2 for i  in nums]
print(double_nums)

[8, 16, 30, 32, 46, 84]

2. Youâ€™ve been given a list of the numbers between 0 and 10. We created this list using the range function! Create a new list named squares that contains the square of every number in this list.

In [26]:
nums = range(11)
squares = [i**2 for i in nums]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. Create a new list named add_ten that adds ten to every element in the list nums.

In [27]:
nums = [4, 8, 15, 16, 23, 42]
add_ten = [i+10 for i in nums]
print(nums)
print(add_ten)

[4, 8, 15, 16, 23, 42]
[14, 18, 25, 26, 33, 52]

3. Create a new list named divide_by_two that contains half of every element in the list nums. Make sure to divide by 2, not 2.0!

In [28]:
nums = [4, 8, 15, 16, 23, 42]
divide_by_two = [i/2 for i in nums]
print(nums)
print(divide_by_two)

[4, 8, 15, 16, 23, 42]
[2.0, 4.0, 7.5, 8.0, 11.5, 21.0]

4. Create a new list named parity that contains a 1 or a 0 for each element of nums. For each element, if that element was even, the new list should contain a 0. If the element was odd, the new list should contain a 1.

In [29]:
nums = [4, 8, 15, 16, 23, 42]

parity = [0 if i%2==0 else 1 for i in nums]
print(parity)

[0, 0, 1, 0, 1, 0]

Create a new list named greetings that adds "Hello, " in front of each name in the list names.

In [30]:
names = ["Elaine", "George", "Jerry", "Cosmo"]
greetings = ["Hello, " + i for i in names]
print(greetings)

['Hello, Elaine', 'Hello, George', 'Hello, Jerry', 'Hello, Cosmo']

Create a new list named first_character that contains the first character from every name in the list names

In [31]:
names = ["Elaine", "George", "Jerry", "Cosmo"]
first_character = [i[0] for i in names]
print(first_character)

['E', 'G', 'J', 'C']

Create a new list named lengths that contains the size of each name in the list of names

In [32]:
names = ["Elaine", "George", "Jerry", "Cosmo"]
lengths = [len(i) for i in names]
print(lengths)

[6, 6, 5, 5]

Create a new list named opposite that contains the opposite boolean for each element in the list booleans.

In [33]:
booleans = [True, False, True]
opposite = [not i for i in booleans]
print(opposite)

[False, True, False]

Create a new list called is_Jerry, in which an entry at position i is True if the entry in names at position i equals "Jerry". The entry should be False otherwise

In [34]:
names = ["Elaine", "George", "Jerry", "Cosmo"]

is_Jerry = [True if i == "Jerry" else False for  i in names]
print(is_Jerry)

[False, False, True, False]

Create a new list called greater_than_two, in which an entry at position i is True if the entry in nums at position i is greater than 2.

In [35]:
nums = [5, -10, 40, 20, 0]
greater_than_two = [True if i > 2 else False for i in nums]
print(greater_than_two)

[True, False, True, True, False]

Create a new list named product that contains the product of each sub-list of nested_lists.

In [36]:
nested_lists = [[4, 8], [15, 16], [23, 42]]
product = [i*j for (j,i) in nested_lists] #i=[1,0] y j=[0,1] 
print(product)

[32, 240, 966]

Create a new list named greater_than that contains True if the first number in the sub-list is greater than the second number in the sub-list, and False otherwise.

In [37]:
nested_lists = [[4, 8], [16, 15], [23, 42]]
greater_than = [True if i > j else False for (i,j) in nested_lists]
print(greater_than)

[False, True, False]

Create a new list named first_only that contains the first element in each sub-list of nested_lists.

In [38]:
nested_lists = [[4, 8], [16, 15], [23, 42]]
first_only = [i for (i,j) in nested_lists]
print(first_only)

[4, 16, 23]

Use list comprehension and the zip function to create a new list named sums that sums corresponding items in lists a and b. For example, the first item in the new list should be 5 from adding 1 and 4 together.

In [39]:
a = [1.0, 2.0, 3.0]

b = [4.0, 5.0, 6.0]

sums = [i+j for (i,j) in zip(a,b)]

print(sums)

[5.0, 7.0, 9.0]