In [ ]:
from selenium import webdriver
import pandas as pd

In [ ]:
PATH = '/Users/francoaguilar/Documents/GitHub/Data-Science/Portfolio/Web Scraping/Selenium/chromedriver'
programs = []
driver = webdriver.Chrome(PATH)
url = 'https://www.mom.gov.sg/passes-and-permits/training-employment-pass/list-of-acceptable-institutions#/?page='

In [128]:
for i in range(1,17): 
    driver.get(url+ str(i)+ '&q=')

    for table in driver.find_elements_by_xpath('.//*[@id="contentguide_0_documentcontent_0_DivCode"]/div/div/div/table/tbody/tr'):
        data = [item.text for item in table.find_elements_by_xpath(".//*[self::td or self::th or self::tr]")]
        program_info = {
            'Institution': data[0],
            'Country/Region':data[1]
        }
        programs.append(program_info)

In [138]:
df.shape

(315, 2)

In [133]:
df.duplicated(subset=["Institution"]).sum()

62

In [135]:
df.loc[df.duplicated(keep='first'),:]

,Institution,Country/Region
20,Aarhus Universitet (Aarhus University),Denmark
21,Albert-Ludwigs-Universitat Freiburg im Breisgau,Germany
22,Aoyama Gakuin University,Japan
23,Asian Institute of Management,Philippines
24,Aston University (The University of Aston in B...,United Kingdom
25,Ateneo de Manila University,Philippines
26,Bangor University (Prifysgol Bangor)[formerly ...,United Kingdom
27,Bangor University (Prifysgol Bangor)[formerly ...,United Kingdom
28,Bayerische Julius-Maximilians Universitat Wure...,Germany
29,Beijing Foreign Studies University,China
30,Ben Gurion University of the Negev,Israel
31,"Boston College, MA",United States of America
32,"Boston University, MA",United States of America
33,Bournemouth University,United Kingdom
34,"Brown University, RI",United States of America
35,Brunel University,United Kingdom
36,"California Institute of Technology, CA",United States of America
37,Cardiff University (formerly University of Wal...,United Kingdom
38,Carleton University,Canada
39,"Carnegie Mellon University, PA",United States of America
40,Aarhus Universitet (Aarhus University),Denmark
41,Albert-Ludwigs-Universitat Freiburg im Breisgau,Germany
42,Aoyama Gakuin University,Japan
43,Asian Institute of Management,Philippines
44,Aston University (The University of Aston in B...,United Kingdom
45,Ateneo de Manila University,Philippines
46,Bangor University (Prifysgol Bangor)[formerly ...,United Kingdom
47,Bangor University (Prifysgol Bangor)[formerly ...,United Kingdom
48,Bayerische Julius-Maximilians Universitat Wure...,Germany
49,Beijing Foreign Studies University,China
50,Ben Gurion University of the Negev,Israel
51,"Boston College, MA",United States of America
164,Ritsumeikan University,JapanUnited Kingdom
165,Ruhr-Universitat Bochum,GermanyPhilippines
186,The Australian National University (Australian...,AustraliaUnited Kingdom
187,The Canadian Institute of Chartered Accountant...,CanadaUnited Kingdom
240,Universite Pierre et Marie Curie (Paris 6/VI),FranceDenmark
241,Universiteit Gent (University of Gent),BelgiumGermany
242,Universiteit Twente (University of Twente),NetherlandsJapan
243,Universiteit van Amsterdam (University of Amst...,NetherlandsPhilippines
285,"University of Michigan/Ann Arbor, MI",United States of AmericaPhilippines
286,University of New Brunswick,CanadaUnited Kingdom
287,University of Newcastle,AustraliaUnited Kingdom
288,University of Newcastle upon Tyne,United KingdomGermany
289,University of Nottingham,United KingdomChina
290,University of Otago,New ZealandIsrael
291,University of Oxford,United KingdomUnited States of America
292,"University of Pennsylvania, PA",United States of AmericaUnited States of America
293,"University of Pittsburgh, PA",United States of AmericaUnited Kingdom
294,University of Queensland,AustraliaUnited States of America
295,University of Reading,United KingdomUnited Kingdom
296,University of Sheffield,United KingdomUnited States of America
297,University of South Australia (formerly South ...,AustraliaUnited Kingdom
298,"University of South Carolina, SC",United States of AmericaCanada
299,University of Southampton,United KingdomUnited States of America
300,University of Liverpool,United KingdomDenmark
301,University of Manchester (merger of the Victor...,United KingdomGermany
302,University of Manitoba,CanadaJapan
303,"University of Massachusetts/Amherst, MA",United States of AmericaPhilippines

In [143]:
df2 = df.drop_duplicates(keep='first')
df2.duplicated().sum()

0