<img src= http://www.mom.gov.sg/html/mom/images/branding/mom-logo-share-hd.png
     width="500">

# List of acceptable institutions

In this notebook you will be able to query the University/Institution by their location **(country)**

***
## Data Manipulation Section

### Importing the modules

In [1]:
import pandas as pd
import numpy as np
from IPython.display import Markdown as md

### Reading the csv

In [2]:
df = pd.read_csv("data.csv")

### Renaming the Columns and Cleaning the Data

In [3]:
df = df.rename(columns={"Unnamed: 0":"id","institutition": "Institution", "country": "Country"})
df = df.drop("id",axis=1)

### Grouping the Data by Country

In [4]:
df_grouped_by_country = df.groupby(['Country','Institution']).count()

### Getting the Countries Availables in the Data

In [5]:
available_countries = df.Country.unique()

***
## Query Section

Below a list of the available countries is shown, either copy and paste the country name in the input box or write down the **EXACT** name of the country.

In [6]:
md(f"Countries: {available_countries}")

Countries: ['Denmark' 'Germany' 'Japan' 'Philippines' 'United Kingdom' 'China'
 'Israel' 'United States of America' 'Canada' 'Australia' 'Singapore'
 'Hong Kong' 'Korea' 'Thailand' 'Indonesia' 'France' 'Switzerland'
 'Netherlands' 'Spain' 'India' 'Austria' 'Russia' 'Taiwan' 'Ireland'
 'Italy' 'Brazil' 'Belgium' 'Sweden' 'Norway' 'Malaysia' 'New Zealand'
 'Finland']

**Query Input**

In [7]:
try:
    df2 = df.groupby('Country')
    input_country = str(input("Enter a country: "))
    mask = df2.get_group(input_country)
    print(mask)
except:
    print("An exception occurred")

Enter a country: Japan
                                        Institution Country
2                          Aoyama Gakuin University   Japan
21                                 Chiba University   Japan
36                              Doshisha University   Japan
58                             Gakushuin University   Japan
65                             Hiroshima University   Japan
66                          Hitotsubashi University   Japan
67                              Hokkaido University   Japan
74               International Christian University   Japan
79                             Kagoshima University   Japan
80                              Kanazawa University   Japan
82                                  Keio University   Japan
86                              Kumamoto University   Japan
87                                 Kyoto University   Japan
89                                Kyushu University   Japan
103                                Meiji University   Japan
110                             Nagasaki University   Japan
111                               Nagoya University   Japan
120                                Nihon University   Japan
121                              Niigata University   Japan
126                              Okayama University   Japan
127                           Osaka City University   Japan
128                     Osaka Prefecture University   Japan
129                                Osaka University   Japan
144                          Ritsumeikan University   Japan
153                               Sophia University   Japan
175                               Tohoku University   Japan
176                                Tokai University   Japan
177                   Tokyo Institute of Technology   Japan
178                   Tokyo Metropolitan University   Japan
179  Tokyo University of Agriculture and Technology   Japan
180             Tokyo University of Foreign Studies   Japan
288                             University of Tokyo   Japan
309                               Waseda University   Japan