In [2]:
import pandas as pd 
import numpy as np

In [34]:
data = pd.read_csv('data.csv')


grouped_data = data.groupby(['country','institutition'],).count()
del grouped_data['Unnamed: 0']
grouped_data.tail()

grouped_data.to_csv("grouped_institutions.csv")

Empty DataFrame
Columns: []
Index: [(United States of America, University of Texas at Austin, TX), (United States of America, University of Washington, WA), (United States of America, University of Wisconsin/Milwaukee, WI), (United States of America, Washington University, MO), (United States of America, Yale University, CT)]