In [ ]:
from selenium import webdriver
import pandas as pd

In [ ]:
PATH = '/Users/francoaguilar/Documents/GitHub/Data-Science/Portfolio/Web Scraping/Selenium/chromedriver'
programs = []
driver = webdriver.Chrome(PATH)
url = 'https://www.mom.gov.sg/passes-and-permits/training-employment-pass/list-of-acceptable-institutions#/?page='

In [128]:
for i in range(1,17): 
    driver.get(url+ str(i)+ '&q=')

    for table in driver.find_elements_by_xpath('.//*[@id="contentguide_0_documentcontent_0_DivCode"]/div/div/div/table/tbody/tr'):
        data = [item.text for item in table.find_elements_by_xpath(".//*[self::td or self::th or self::tr]")]
        program_info = {
            'Institution': data[0],
            'Country/Region':data[1]
        }
        programs.append(program_info)

In [146]:
df2 = df.drop_duplicates(keep='first')
df2.tail()

,Institution,Country/Region
310,"Washington University, MO",United States of AmericaIsrael
311,Wilfrid Laurier University,CanadaUnited States of America
312,"Yale University, CT",United States of AmericaUnited States of America
313,"Yonsei University, Seoul",KoreaUnited Kingdom
314,York University,CanadaUnited States of America