In [52]:
from selenium import webdriver
import pandas as pd

In [46]:
url = 'https://www.youtube.com/user/vegetta777'
PATH = PATH = '/Users/francoaguilar/Documents/GitHub/Data-Science/Portfolio/Web Scraping/Selenium/chromedriver'
driver = webdriver.Chrome(PATH)
driver.get(url)

In [54]:
videos = driver.find_elements_by_class_name('style-scope ytd-grid-video-renderer')

all_videos = []

for video in videos:
    title = video.find_element_by_xpath('.//*[@id="video-title"]').text
    views = video.find_element_by_xpath('.//*[@id="metadata-line"]/span[1]').text
    video_item = {
    'title':title,
    'views':views
    }
    all_videos.append(video_item)


df = pd.DataFrame(all_videos)
display(df.head())

                                           title       views
0                   ARKADIA - ¿ESTOY EMBARAZADO?  537K views
1       ARKADIA - CRIANDO DRAGONES *A POR LECHE*  583K views
2  Asi fue mi primera vez... FIRST CLASS TROUBLE  174K views
3   ARKADIA - NACEN NUESTROS *DRAGONES DE HIELO*  583K views
4                    ARKADIA - CAZANDO DRAGONES!  751K views